<table><br>  
    <tr><br>  
        <td><input type="checkbox" name="how_hear[]" id="how_hear1" value="Website" ></td><br>  
        <td style="padding-left:3px"><label for="how_hear1">Website</label></td><br>  
    </tr><br>  
    <tr><br>  
        <td><input type="checkbox" name="how_hear[]" id="how_hear2" value="TV Commercial" /></td><br>  
        <td style="padding-left:3px"><label for="how_hear2">TV Commercial</label></td><br>  
    </tr><br>  
    <tr><br>  
        <td><input type="checkbox" name="how_hear[]" id="how_hear3" value="Magazine Ad" /></td><br>  
        <td style="padding-left:3px"><label for="how_hear3">Magazine Ad</label></td><br>  
    </tr><br>  
</table><br>  